################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/Metoda Elementów Skończonych/x64/Debug
/Metoda Elementów Skończonych/resource.h
/Metoda Elementów Skończonych/Metoda Elementów Skończonych.vcxproj.user
/Metoda Elementów Skończonych/Metoda Elementów Skończonych.vcxproj.filters
/Metoda Elementów Skończonych/Metoda Elementów Skończonych.vcxproj
/Metoda Elementów Skończonych/Metoda Elementów Skończonych.sln
/Metoda Elementów Skończonych/Metoda Elementów Skończonych.rc
/Metoda Elementów Skończonych/Metoda Elementów Skończonych.aps
/Metoda Elementów Skończonych/Debug
/Metoda Elementów Skończonych/.vs/Metoda Elementów Skończonych/v16
/.vs
/Metoda Elementów Skończonych/x64/Release
